* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background: #ffffff;
    font-size: 1.2em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6a2424;
    padding: 1.8rem 4rem;
    color: #ffffff;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 3.5rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.navbar ul li a:hover {
    color: #ad8b8b;
}